extends layout

block content
    h1.
        Message List
    ul
        each message, i in messages
            li
                a(href="mailto:#{message.email}")= message.username
                | , comment = 
                = message.comment
                | , xPos = 
                = message.xPos
                | , zPos = 
                = message.zPos
                