body {
    padding: 50px;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
a {
    color: #00B7FF;
}
#fft {
    display: none;
}
#comment {
    position: absolute;
    border: 3px solid red;
    z-index: 2;
    max-width: 600px;
    //min-width: 400px;
    //min-height: 400px;
    max-height: 600px;
    overflow: hidden;
    background: #fff;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 0px;
    height: 0px;
    opacity: 0;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
#comment-details {
    position: absolute;
    pointer-events: none;
    top: 100px;
    left: 100px;
    visibility: hidden;
}
.bubble {
    position: relative;
    width: 250px;
    height: 120px;
    padding: 14px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 2px;
}
.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -15px;
    left: 50%;
}
.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 16px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -16px;
    bottom: -18px;
    left: 50%;
}